# ignore some folders
node_modules/
dist/
**/coverage/
__snapshots__

# ignore system files
Thumbs.db
.DS_Store
.env
*.env

# ignore temp database
database.sqlite

# ignore dev files
*.http
client/TrailSeek/trail.http
client/TrailSeek/.vscode/settings.json
client/trailseek/yarn.lock

#ignore local cache files
__pycache__
client/TrailSeek/Appium/package.json
client/TrailSeek/Appium/Exponent-2.17.4.apk
client/TrailSeek/Appium/index.js
client/TrailSeek/Appium/package-lock.json
client/TrailSeek/Appium/README.md
client/TrailSeek/Appium/LICENSE
